@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";


.bg-footer{
    background-color: rgb(78, 77, 77);
}
.bg-foot {
    background-image: url('../images/footer-bg.jpg');
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
